<!DOCTYPE html>
<html>

<head>

<title>About Project</title>

<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

</head>

<body>

<nav>

<a href="/">Home</a>

<a href="/dashboard">Dashboard</a>

<a href="/story">Story</a>

<a href="/about">About</a>

</nav>

<div class="about">

<h1>About Project</h1>

<div class="card">

<p>

<b>Project Title:</b>

Electricity Consumption Analysis

</p>

<br>

<p>

This project analyzes electricity consumption across different Indian states,
regions and sectors using Oracle Database.

The data is queried using SQL, visualized using Tableau Dashboards and Stories,
and integrated into a Flask web application for easy access.

</p>

<br>

<p>

<b>Technologies Used</b>

</p>

<ul>

<li>Oracle Database</li>

<li>SQL</li>

<li>Tableau Public</li>

<li>Python Flask</li>

<li>HTML</li>

<li>CSS</li>

</ul>

</div>

</div>

</body>

</html>